@import "@fontsource/press-start-2p";
@import "@fontsource/fira-sans";
@import "@fontsource/overpass-mono";
$bootstrap-icons-font-file: '/files/bootstrap-icons';
@import "bootstrap-icons/font/bootstrap-icons.scss";

// Font-weight
$fw-light: 200;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 800;

// font-face


//p {
//  font-family: "Fira Sans";
//}
//a {
//  font-family: "Press Start 2P";
//}
//::placeholder {
//  color: gray;
//}
