/**
 * Breakpoints
 */
$break-start: 0;
$break-tablet: 670px;
$break-desktop: 1024px;
$break-desktop-lg: 1444px;

$bp-default: (
  'sm-min': $break-start,
  'sm-max': $break-tablet - 1px,
  'md-min': $break-tablet,
  'md-max': $break-desktop - 1px,
  'lg-min': $break-desktop,
  'lg-max': $break-desktop-lg - 1px,
  'xl-min': $break-desktop-lg
);

/**
 * Spacer
 */
$spacer-base: 16px;

$spacer-xs: $spacer-base * 1;
$spacer-sm: $spacer-base * 2;
$spacer-md: $spacer-base * 3;
$spacer-lg: $spacer-base * 4;
$spacer-xl: $spacer-base * 6;
$spacer-xxl: $spacer-base * 8;

$s-max-content-width: 1200px;
$s-menu-width-opened: 300px;
$s-menu-width-closed-sm: 46px;
$s-menu-width-closed-md-lg: 64px;
$s-content-width: #{column(8, 12)};
$s-pager-shadow: 16vw;
$s-pager-shadow-hover: 18vw;

/**
 * Z-index
 */
$z-modal: 1;
$z-header: 10;
$z-pager: 20;
$z-menu: 100;

/**
 * Animation & Transition
 */
$d-anim: 300ms;
