/**
 * Primary colors
 */
$c-primary-blue: #0000ff;
$c-lightblue: #008cd7;
$c-darkblue: #000028;
$c-primary-darkblue: #14141e;
$c-darkgrey: #282d3c;
$c-grey: #808080;
$c-lightgrey: #e7e7e7;
$c-black: #000000;
$c-white: #ffffff;
