:root {
  --color-logo: #{$c-primary-blue};
  --color-text: #{$c-darkblue};
  --color-highlight-text: #{$c-primary-blue};
  --color-bg: #{$c-white};
  --color-menu-bg: #{$c-lightgrey};
  --color-hint: #{$c-lightgrey};
}

:root.dark {
  --color-logo: #{$c-primary-darkblue};
  --color-text: #{$c-grey};
  --color-highlight-text: #{$c-lightblue};
  --color-bg: #{$c-primary-darkblue};
  --color-menu-bg: #{$c-darkgrey};
  --color-hint: #{$c-lightgrey};
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
}

.container {
  aside.is-open + & {
	margin-left: 300px;
  }
  
  aside.is-closed + & {
	margin-left: 70px;
  }
}

.main {
  margin: $spacer-xl auto 0;

  @include breakpoint(sm) {
	width: 90%;
  }
  @include breakpoint(md) {
	width: 85%;
  }
  @include breakpoint(lg) {
	width: 80%;
  }
}

.headline--h1 {
  @include f-headline-h1;
}