:root {
  --color-logo: #{$c-primary-blue};
  --color-text: #{$c-darkblue};
  --color-highlight-text: #{$c-primary-blue};
  --color-bg: #{$c-white};
  --color-header-bg: #{$c-white};
  --color-menu-bg: #{$c-lightgrey};
  --color-menu-burger: #{$c-primary-blue};
  --color-hint: #{$c-lightgrey};
  --color-pager: #{$c-primary-blue};
  --color-pager-hover: #{$c-primary-blue};
  --color-pager-bg: #{$c-lightgrey};
  --color-footer-border: #{$c-lightgrey};
  --color-scrollbar-bg: #{$c-primary-blue};
  --color-thumb-bg: #{$c-middlegrey};
  --image-filter: none;
}

:root.dark {
  --color-logo: #{$c-grey};
  --color-text: #{$c-lightgrey};
  --color-highlight-text: #{$c-lightblue};
  --color-bg: #{$c-primary-darkblue};
  --color-header-bg: #{$c-primary-darkblue};
  --color-menu-bg: #{$c-darkgrey};
  --color-menu-burger: #{$c-grey};
  --color-hint: #{$c-lightgrey};
  --color-pager: #{$c-grey};
  --color-pager-hover: #{$c-lightblue};
  --color-pager-bg: #{$c-darkgrey};
  --color-footer-border: #{$c-grey};
  --color-scrollbar-bg: #{$c-lightgrey};
  --color-thumb-bg: #{$c-grey};
  --image-filter: invert(1);
}


* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  
  &.is-loading {
    display: none;
  }
}

.container {
  position: relative;
  
  aside + & {
    transition: all $d-anim ease-in-out;
    
    @include breakpoint(sm) {
      margin-left: pxToRem(46px);
    }
    @include breakpoint(md-xl) {
      margin-left: pxToRem(66px);
    }
  }
  
  @include breakpoint(md-xl) {
    aside.is-open + & {
      margin-left: pxToRem(300px);
      transition: all $d-anim ease-in-out;
    }
  }
}

.main {
  container-type: inline-size;
  container-name: main;
  margin-inline: auto;
  max-width: pxToRem(1200px);
  
  @include breakpoint(sm) {
    padding-top: $spacer-xxl;
  }
  @include breakpoint(md-xl) {
    padding-top: $spacer-base * 13;
  }
}