.header {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: 'theme main .';
  align-items: end;
  margin-bottom: pxToRem(40px);
  padding: pxToRem(33px) 0 pxToRem(27px);
  width: 100%;
  background: var(--color-header-bg);
  box-shadow: 0 4px 12px -2px rgba(black, 0.3);
  
  @include breakpoint(sm) {
    padding-left: 66px;
  }
}

.header__wrapper {
  grid-area: main;
  display: flex;
  justify-content: space-between;
}

.header__actions {
  display: flex;
  align-items: flex-end;
  margin-bottom: pxToRem(9px);
}

.header__contact {
  display: grid;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  width: pxToRem(45px);
  height: pxToRem(45px);
}

.header__contact--github {
  margin-right: pxToRem(24px);
  
  .bi-github {
    font-size: pxToRem(45px);
    color: var(--color-text);
  }
}

.header__contact--mail {
  color: var(--color-bg);
  background: var(--color-text);
  
  .bi-envelope {
    font-size: pxToRem(25px);
  }
}

.header__home {
  background-color: var(--color-logo);
  mask: url(/images/logo-without-space.svg) no-repeat center;
}

.header__logo {
  width: $spacer-base * 10;
  height: auto;
  opacity: 0;
}

.header__theme-btn {
  grid-area: theme;
  margin-bottom: pxToRem(1px);
  padding-left: $spacer-sm;
  color: var(--color-highlight-text);
  text-align: left;
  width: pxToRem(32px);
  height: pxToRem(32px);
  
  .dark & {
    .bi::before {
      content: '\F5A2';
    }
  }
}
