.header {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  align-items: end;
  border-bottom: none;
  width: 100%;
  background: var(--color-header-bg);
  box-shadow: 0 2px 8px -2px rgba($c-black, 0.3);
  z-index: $z-header;
  
  @include break-main(sm) {
    grid-template-areas: '. main theme';
    grid-template-columns: 1fr 10fr 3fr;
    padding: pxToRem(10px) 0 pxToRem(10px);
  }
  @include break-main(md-xl) {
    grid-template-areas: 'theme main .';
    grid-template-columns: 2fr 8fr 2fr;
    padding: pxToRem(33px) 0 pxToRem(27px);
  }
  @include break-main(xl) {
    // grid-template-areas: 'theme main .';
    grid-template-columns: 2fr 1200px 2fr;
    // padding: pxToRem(33px) 0 pxToRem(27px);
  }
}

.header__wrapper {
  grid-area: main;
  display: flex;
  justify-content: space-between;

  @include break-main(xl) {
    max-width: 1200px;
	padding: 0 column(2, 12);
  }
}

.header__actions {
  display: flex;
  align-items: flex-end;
  
  @include break-main(sm) {
    margin-bottom: pxToRem(3px);
  }
  @include break-main(md-xl) {
    margin-bottom: pxToRem(9px);
  }
}

.header__contact {
  display: grid;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  
  @include break-main(sm) {
    width: pxToRem(25px);
    height: pxToRem(25px);
  }
  @include break-main(md-xl) {
    width: pxToRem(36px);
    height: pxToRem(36px);
  }
}

.header__contact--github {
  @include break-main(sm) {
    margin-right: pxToRem(16px);
  }
  @include break-main(md-xl) {
    margin-right: pxToRem(18px);
  }
  
  .bi-github {
    color: var(--color-text);
  
    @include break-main(sm) {
      font-size: pxToRem(25px);
    }
    @include break-main(md-xl) {
      font-size: pxToRem(36px);
    }
  }
}

.header__contact--mail {
  color: var(--color-bg);
  background: var(--color-text);
  
  .bi-envelope {
    @include break-main(sm) {
      font-size: pxToRem(16px);
    }
    @include break-main(md-xl) {
      font-size: pxToRem(25px);
    }
  }
}

.header__home {
  background-color: var(--color-logo);
  transition: all 0.3s ease;

  @include break-main(sm) {
	mask: url(/images/logo-without-text.svg) no-repeat center;
  }
  @include break-main(md-xl) {
	mask: url(/images/logo-without-space.svg) no-repeat center;
  }

  &:hover {
	background-color: var(--color-logo-hover);
	transition: all 0.3s ease;
  }
}

.header__logo,
.header__logo--mobile {
	height: auto;
	opacity: 0;
}

.header__logo {
	@include break-main(sm) {
		display: none;
	}
	@include break-main(md-xl) {
		width: $spacer-base * 10;
	}
}

.header__logo--mobile {
	@include break-main(sm) {
		width: $spacer-base * 2;
	}
	@include break-main(md-xl) {
		display: none;
	}
}

.header__theme-btn {
  grid-area: theme;
  margin-bottom: pxToRem(1px);
  padding-left: $spacer-sm;
  color: var(--color-highlight-text);
  text-align: left;
  width: pxToRem(32px);
  height: pxToRem(32px);
  
  .dark & {
    .bi::before {
      content: '\F5A2';
    }
  }
}
