.banner {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
}

.banner__image {
  background-color: var(--color-menu-bg);
  
  @include breakpoint(sm-md) {
	width: 100%;
  }
  @include breakpoint(lg) {
	width: column(9, 12);
  }
}

.banner__content {
  display: grid;
  grid-row-gap: $spacer-base;
  background-color: var(--color-highlight-text);
  color: var(--color-bg);
  word-break: break-word;
  white-space: normal;
  hyphens: auto;
  
  @include breakpoint(sm) {
    padding: $spacer-sm column(2, 12);
    width: 100%;
  }
  @include breakpoint(md-xl) {
    position: absolute;
    bottom: $spacer-lg;
    padding: $spacer-sm;
  }
  @include breakpoint(md) {
    right: 10%;
    width: 60%;
    box-shadow: $spacer-sm $spacer-sm var(--color-bg);
  }
  @include breakpoint(lg) {
    right: 20%;
    box-shadow: $spacer-md $spacer-sm var(--color-bg);
    width: 50%;
  }
}


.banner__headline {
  @include f-headline-h1;
}

.banner__text {
  @include f-copy;
}