.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: $spacer-sm $spacer-xs 0 $spacer-sm;
  height: 100%;
  width: 70px;
  background: var(--color-menu-bg);
  transition: width ease .3s;
  overflow: hidden;
  
  * {
    color: var(--color-text);
    @include f-index;
  }
  
  &.is-open {
    width: 300px;
    z-index: 100;
  }
  
  &.is-closed {
    padding: $spacer-sm $spacer-xs;
    
    .menu__headline-wrapper,
    .menu__nav {
      display: none;
    }
  }
}

.menu__btn {
  display: grid;
  place-items: center;
  align-self: end;
  width: 40px;
  height: 40px;
}

.menu__burger {
  position: relative;
  background: $c-primary-blue;
  width: 24px;
  height: 4px;
  opacity: 1;
  transition: all .3s ease-in-out;
  
  &::before,
  &::after {
    content: '';
    position: relative;
    display: block;
    background: $c-primary-blue;
    width: 24px;
    height: 4px;
    transition: all .3s ease-in-out;
  }
  
  &::before {
    top: 8px;
  }
  
  &::after {
    bottom: 12px;
  }
  
  .is-open & {
    background: var(--color-menu-bg);;
    
    &::before {
      transform: rotate(45deg);
      top: 0;
    }
    
    &::after {
      transform: rotate(-45deg);
      bottom: 4px;
    }
  }
}

.menu__headline-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: $spacer-sm;
  
  .bi-triangle-fill {
    rotate: 180deg;
    margin-right: 12px;
    font-size: 8px;
    line-height: 1;
    
    &::before {
      vertical-align: text-bottom;
    }
  }
}

.menu__nav-list {
  margin-left: $spacer-sm;
}

.menu__nav-item {
  margin: $spacer-xs 0;
  font-weight: $fw-bold;
}

ol {
  list-style: decimal;
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item, '.') '. ';
  margin-left: -20px;
}

.menu__sub-nav-list {
  margin-left: -6px;
  margin-top: $spacer-xs;
}

.menu__link {
  margin-left: $spacer-xs;
}

.menu__sub-link {
  margin-bottom: 12px;
}