.footer {
  display: grid;
  border-top: 2px solid var(--color-footer-border);
  padding-top: $spacer-md;
  width: column(8, 12);
  @include f-footer-small;

  @include breakpoint(sm) {
    hyphens: auto;
    width: column(10, 12);
  }
  @include breakpoint(sm-md) {
    grid-template-columns: 1fr;
    margin: $spacer-xl auto;
  }
  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacer-sm;
    margin: $spacer-xxl auto;
  }

  a {
    color: var(--color-highlight-text);
    text-decoration: underline;
  }

  ul {
    li {
      display: block;
      margin-bottom: $spacer-xs;
    }
  }
}

.footer__heading {
  font-weight: $fw-bold;
  padding-bottom: $spacer-xs;
}
