.content,
.headline--h1 {
  margin-inline: auto;
  
  @include breakpoint(sm) {
    width: column(10, 12);
  }
  @include breakpoint(md-xl) {
    width: column(8, 12);
  }
}

.headline--h1 {
  border-left: 6px solid var(--color-highlight-text);
  padding: 4px 0 0 $spacer-base;
  @include f-headline-h1;
}

.content {
  @include f-copy;
  
  h2 {
    @include f-headline-h2;
  }
  
  h3 {
    @include f-headline-h3;
  }
  
  h4 {
    @include f-headline-h4;
  }
  
  h2,
  h3,
  h4 {
    @include break-main(sm) {
      margin-top: $spacer-md;
    }
    @include break-main(md) {
      margin-top: $spacer-lg;
    }
    @include break-main(lg) {
      margin-top: $spacer-xl;
    }
  }
  
  a {
    color: var(--color-highlight-text);
    text-decoration: underline;
  }
  
  strong {
    font-weight: $fw-bold;
  }
  
  em {
    font-style: italic;
  }
  
  > p,
  > ul,
  > ol,
  > code,
  > .footnotes {
    @include break-main(sm) {
      margin-top: $spacer-sm;
    }
    @include break-main(md-xl) {
      margin-top: $spacer-md;
    }
  }
  
  ul {
    list-style: circle;
  }
  
  ol {
    list-style: decimal;
  }
  
  ul,
  ol {
    margin-left: $spacer-sm;
    
    li {
      margin-top: $spacer-xs;
    }
  }
  
  figure {
    margin: $spacer-md 0 0;
    
    img {
      width: 100%;
      height: auto;
    }
  
    figcaption {
      margin: $spacer-sm $spacer-sm 0;
      @include f-copy-small;
    }
  }
  
  .figure--svg {
    img {
      filter: var(--image-filter);
    }
  }
  
  .highlight {
    margin-top: $spacer-md;
  }
  
  pre {
    padding: $spacer-base;
    overflow-x: auto;
    @include scrollbar();
    @include f-code;
  }
  
  table {
    margin-top: $spacer-md;
    padding: $spacer-base;
    width: 100%;
    border-spacing: $spacer-sm;
    
    th,
    td {
      padding: $spacer-base / 2;
      border-bottom: 1px solid;
    }
    
    th {
      border-bottom: 3px double;
      font-weight: $fw-semibold;
    }
  }
  
  .footnotes {
    @include f-copy-small;
    
    hr {
      border: 1px solid var(--color-footer-border);
    }
    
    ol {
      margin-top: $spacer-sm;
      margin-left: pxToRem(14px);
      columns: 2;
      column-gap: $spacer-sm;
      
      li {
        margin-top: 0;
        margin-bottom: $spacer-xs;
      }
    }
  }
  
  .footnote-backref,
  .footnote-ref {
    text-decoration: none;
  }
}