.description {
  margin: $spacer-lg auto;
  width: column(8, 12);
  text-align: justify;
}

.description__headline {
  @include f-headline-h1;
  margin-bottom: $spacer-md;
}

.description__detail {
  @include f-copy;
  
  p {
    @include breakpoint(sm-md) {
      margin-top: $spacer-xs;
    }
    @include breakpoint(lg) {
      margin-top: $spacer-sm;
    }
  }
}

.cta-container {
  display: grid;
  place-items: center;
  
  @include breakpoint(sm-md) {
    margin-top: $spacer-xl;
  }
  @include breakpoint(lg) {
    margin-top: $spacer-xxl;
  }
}

.cta {
  position: relative;
  padding: $spacer-xs $spacer-sm;
  border: 1px solid transparent;
  background: var(--color-highlight-text);
  color: var(--color-bg);
  transition: all $d-anim ease-out;
  
  @include breakpoint(sm-md) {
    @include f-headline-h3;
  }
  @include breakpoint(lg) {
    @include f-headline-h1;
  }
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: pxToRem(3px);
    background: var(--color-highlight-text);
    transition: all $d-anim ease-out;
  }
  
  &::after {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
  }

  &:hover {
    color: var(--color-highlight-text);
    background-color: transparent;

    &::before,
    &::after {
      width: 100%;
      transition: all $d-anim ease-out;
    }
  }
}


