$headlines:
  2 $spacer-md $spacer-xl $spacer-xl,
  3 $spacer-sm $spacer-md $spacer-lg,
  4 $spacer-sm $spacer-md $spacer-lg;

.content,
.headline--h1 {
  margin-inline: auto;

  @include break-main(sm) {
    width: column(10, 12);
  }
  @include break-main(md-xl) {
    width: column(8, 12);
  }
}

.headline--h1 {
  border-left: 6px solid var(--color-highlight-text);
  padding: 4px 0 0 $spacer-xs;
  @include f-headline-h1;
}

.content {
  @include f-copy;

  h2 {
    @include f-headline-h2;
  }

  h3 {
    @include f-headline-h3;
  }

  h4 {
    @include f-headline-h4;
  }

  @each $headline, $sm, $md, $lg in $headlines {
    h#{$headline} {
      @include break-main(sm) {
        margin: #{$sm} 0 pxToRem(16px);
      }
      @include break-main(md) {
        margin: #{$md} 0 pxToRem(16px);
      }
      @include break-main(lg) {
        margin: #{$lg} 0 pxToRem(24px);
      }
    }
  }

  @each $headline, $sm, $md, $lg in $headlines {
    h#{$headline}:first-child,
    h#{$headline - 1} + h#{$headline} {
      @include break-main(sm) {
        margin: #{$sm/2} 0 pxToRem(16px);
      }
      @include break-main(md) {
        margin: #{$md/2} 0 pxToRem(16px);
      }
      @include break-main(lg) {
        margin: #{$lg/2} 0 pxToRem(24px);
      }
    }
  }

  h2,
  h3,
  h4 {
    .bi {
      color: transparent;
      font-size: 20px;
    }

    &:hover {
      .bi {
        color: var(--color-highlight-text);
        font-size: 20px;
      }
    }
  }

  a {
    color: var(--color-highlight-text);
    transition: all 0.3s ease;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: $fw-semibold;
  }

  em {
    font-style: italic;
  }

  > p,
  > ul,
  > ol,
  > code,
  > blockquote,
  > .footnotes,
  .highlight,
  figure {
    hyphens: auto;

    @include break-main(sm) {
      margin: pxToRem(16px) 0;
    }
    @include break-main(md-xl) {
      margin: pxToRem(24px) 0;
    }
  }

  p {
    text-align: justify;
  }


  ul {
    list-style: circle;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    margin-left: $spacer-sm;

    li {
      margin-top: $spacer-xs;
    }
  }

  figure {
    margin-inline: $spacer-sm;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      margin: pxToRem(16px) 0 0;
      color: var(--color-text);
      text-align: center;
      @include f-copy-small;
    }
  }

  .figure--svg {
    img {
      filter: var(--image-filter);
    }
  }

  pre {
    @include scrollbar();
    @include f-code;
    padding: $spacer-xs;
    overflow-x: auto;
  }

  p code {
    @include f-code;
    padding: pxToRem(6px);
    border-radius: 4px;
    color: var(--color-text);
    background-color: var(--color-menu-bg);
  }

  blockquote {
    padding-left: $spacer-xs;
    border-left: 3px solid var(--color-highlight-text)
  }

  table {
    margin-top: $spacer-md;
    padding: $spacer-xs;
    width: 100%;
    border-spacing: $spacer-sm;

    th,
    td {
      padding: $spacer-xs / 2;
      border-bottom: 1px solid;
    }

    th {
      border-bottom: 3px double;
      font-weight: $fw-semibold;
    }
  }

  sup,
  .footnotes {
    @include f-copy-small;

    code {
      @include f-copy-small;
      padding: pxToRem(3px);
      line-height: 1.2;
    }

    hr {
      border: 1px solid var(--color-footer-border);
    }

    ol {
      margin-top: $spacer-sm;
      margin-left: pxToRem(14px);
      column-gap: $spacer-sm;

      @include break-main(md-xl) {
        columns: 2;
      }

      li {
        margin-top: 0;
        margin-bottom: $spacer-xs;
        break-inside: avoid-column;
      }
    }
  }

  .footnote-backref,
  .footnote-ref {
    text-decoration: none;
  }
}
