.banner {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
}

#particles {
  position: relative;
  width: 100%;

  @include break-main(sm-md) {
    height: 50vh;
  }
  @include break-main(lg) {
    height: 80vh;
    max-height: 1000px;
  }
}

.banner__image {
  background-color: var(--color-menu-bg);

  @include break-main(sm-md) {
    width: 100%;
  }
  @include break-main(lg) {
    width: column(9, 12);
  }
}

.banner__content {
  display: grid;
  grid-row-gap: $spacer-xs;
  background-color: var(--color-highlight-text);
  color: var(--color-bg);
  word-break: break-word;
  white-space: normal;
  hyphens: auto;

  @include break-main(sm) {
    padding: $spacer-sm column(2, 12);
    width: 100%;
  }
  @include break-main(md-xl) {
    position: absolute;
    bottom: $spacer-lg;
    padding: $spacer-sm;
    right: 20%;
    width: 50%;
    box-shadow: 10px 10px 25px 5px $c-black;
  }
}

.banner__headline {
  @include f-headline-h1;
}

.banner__text {
  @include f-copy;
}
