.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 34px $spacer-xs 0 $spacer-sm;
  height: 100%;
  width: 70px;
  background: var(--color-menu-bg);
  transition: width $d-anim ease-in-out;
  overflow: hidden;
  z-index: 300;
  
  * {
    color: var(--color-text);
    @include f-index;
  }
  
  &.is-open {
    border-right: 4px solid $c-grey;
    width: 300px;
  }
  
  &.is-closed {
    padding: $spacer-sm $spacer-xs;
    
    .menu__headline-wrapper,
    .menu__nav {
      display: none;
    }
  }
  
  .no-transition &{
    transition: none !important;
  }
}

.menu__btn {
  display: grid;
  place-items: center;
  align-self: end;
  width: 40px;
  height: 40px;
}

.menu__burger {
  position: relative;
  background: var(--color-menu-burger);
  width: 24px;
  height: 4px;
  opacity: 1;
  transition: all $d-anim ease-in-out;
  
  &::before,
  &::after {
    content: '';
    position: relative;
    display: block;
    background: var(--color-menu-burger);
    width: 24px;
    height: 4px;
    transition: all $d-anim ease-in-out;
  }
  
  .no-transition & {
    transition: none !important;
  
    &::before,
    &::after {
      transition: none !important;
    }
  }
  
  &::before {
    top: 8px;
  }
  
  &::after {
    bottom: 12px;
  }
  
  .is-open & {
    background: var(--color-menu-bg);;
    
    &::before {
      transform: rotate(45deg);
      top: 0;
    }
    
    &::after {
      transform: rotate(-45deg);
      bottom: 4px;
    }
  }
}

.menu__headline-wrapper {
  display: flex;
  align-items: center;
  margin-top: $spacer-xl;
  padding-bottom: $spacer-sm;
  
  .bi-triangle-fill {
    rotate: 180deg;
    margin-right: 12px;
    font-size: 8px;
    line-height: 1;
    
    &::before {
      vertical-align: -4px;
    }
  }
}

.menu__nav-list,
.menu__sub-nav-list {
  counter-reset: section;
}

.menu__nav-item,
.menu__sub-nav-item {
  &::before {
    counter-increment: section;
    content: counters(section, '.') ' ';
    margin-left: -43px;
  }
  
  &:hover {
    > a {
      text-decoration: underline;
    }
  }
}

.menu__nav-list {
  margin-left: 44px;
}

.menu__nav-item {
  margin: 10px 0;
  font-weight: $fw-bold;
}

.menu__sub-nav-list {
  margin-top: 10px;
}

.menu__sub-nav-item.is-active {
  &::before,
  .menu__sub-link {
    color: var(--color-highlight-text);
  }
}

.menu__link {
  margin-left: 24px;
}

.menu__sub-link {
  margin-left: 7px;
  margin-bottom: 12px;
}