@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%)  scale(0);
  }
  100% {
    transform: translate(-50%, -50%)  scale(1);
  }
}

.modal {
  position: fixed;
  z-index: $z-modal;
  left: $s-menu-width-closed-md-lg;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba($c-darkgrey, 0.5);

  &.is-hidden {
    display: none;
  }

  .has-menu-open & {
    left: $s-menu-width-opened;
  }
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: grid;
  place-items: center;
  border-radius: 4px;
  max-width: 92vw;
  height: 92vh;
  aspect-ratio: 4 / 3;
  background-color: var(--color-bg);
  box-shadow: 0 0 $spacer-base rgba($c-black, 0.2);
  animation: zoomIn 150ms 200ms ease-in-out forwards;

  @include breakpoint(xl) {
    max-width: calc(#{$s-max-content-width} + 200px);
  }
}

.modal__close-btn {
  position: absolute;
  top: $spacer-xs;
  right: $spacer-xs;
  font-size: pxToRem(24px);
  font-weight: $fw-bold;
  color: var(--color-text);
}

.modal__figure {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  margin: 0;
  padding: $spacer-md $spacer-sm;
  height: 100%;
  width: 100%;

  img {
    position: relative;
    object-fit: cover;
    width: 100%;
    max-width: $s-max-content-width;
    height: auto;

    &.portrait {
      height: 100%;
      width: auto;
    }
  }

  .svg {
    filter: var(--image-filter);
    object-fit: contain;
    max-height: 75vh;
    width: 90%;
  }

  figcaption {
    margin-top: $spacer-sm;
    color: var(--color-text);
  }
}
