.teaser-list {
  margin: $spacer-lg auto;

  @include break-main(sm) {
		width: column(10, 12);
	  }
	@include break-main(md-xl) {
    width: column(8, 12);
	}
}

.teaser-list__headline {
  @include f-headline-h1;
}

.teaser-list__wrapper {
  display: grid;
  grid-column-gap: $spacer-md;
  grid-row-gap: $spacer-sm;
  margin-top: $spacer-md;

  @include break-main(sm) {
    grid-template-columns: 1fr;
  }
  @include break-main(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include break-main(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.teaser__title {
  @include f-headline-h3;
  margin-bottom: $spacer-xs;
  padding-bottom: $spacer-xs;
  border-bottom: 4px solid var(--color-highlight-text);
}

.teaser__text {
  @include f-copy;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.teaser__link {
  @include f-copy;
  position: relative;
  display: inline-block;
  font-weight: $fw-bold;
  color: var(--color-teaser-link);

  &:hover {
    text-decoration: underline;
  }
}