.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 $spacer-xs 0 $spacer-sm;
  height: 100%;
  background: var(--color-menu-bg);
  
  * {
    color: var(--color-text);
    @include f-index;
  }
  
  &.is-open {
    width: 230px;
  }
  
  &.is-closed {
    padding: 12px;
    
    .menu__nav {
      display: none;
    }
  }
}

.menu__btn {
  align-self: end;
  
  .bi-list {
    font-size: 28px;
    font-weight: bold;
  }
}

.menu__headline-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: $spacer-sm;
  
  .bi-triangle-fill {
    rotate: 180deg;
    margin-right: 12px;
    font-size: 8px;
    line-height: 1;
    
    &::before {
      vertical-align: text-bottom;
    }
  }
}

.menu__nav-list {
  margin-left: $spacer-sm;
}

.menu__nav-item {
  margin: $spacer-xs 0;
  font-weight: $fw-bold;
}

ol {
  list-style: decimal;
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item, '.') '. ';
  margin-left: -20px;
}

.menu__sub-nav-list {
  margin-left: -6px;
  margin-top: $spacer-xs;
}

.menu__link {
  margin-left: $spacer-xs;
}

.menu__sub-link {
  margin-bottom: 12px;
}