@import "normalize.css/normalize";
@import "@fontsource/press-start-2p";
@import "@fontsource/fira-sans";
$font-path: '../files/';
@import "@material-icons/font/scss/all";

p {
  font-family: "Fira Sans";
}
a {
  font-family: "Press Start 2P";
}
::placeholder {
  color: gray;
}
