<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="is-loading">
        {{ partial "menu.html" . }}

        <div class="container">
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}

            <main class="main">
                {{ block "main" . }}{{ end }}
            </main>

            {{ block "pager" . }}
                {{ partial "pager.html" . }}
            {{ end }}

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ block "modal" . }}
            {{ partial "modal.html" . }}
        {{ end }}

        {{ partial "javascript.html" . }}
        {{ block "startpagescript" . }}

        {{ end }}
    </body>


</html>