{{ define "main" }}
  <h1>{{.Title}}</h1>

  <div class="main-content">
    {{.Content}}
  </div>

  {{- $currentPage := . -}}
  {{ $mainContent := $.Site.Params.mainContent }}
  {{ $sectionPages := where $.Site.RegularPages "Section" $mainContent }}
  {{ if eq .Section $mainContent }}
  <div class="quicknav">
    {{with .Next }}
    {{ if eq .Section $mainContent }}
    <a href="{{.Permalink}}">prev</a>
    {{ end }}
    {{end}}

    {{ partial "counter" (dict "current" . "list" $sectionPages) }}

    {{with .Prev }}
    {{ if eq .Section $mainContent }}
    <a href="{{.Permalink}}">next</a>
    {{ end }}
    {{end}}
  </div>
  {{ end }}
{{ end }}
