<footer class="footer">
  <div class="footer__content">
    <div class="footer__credit">
      <h4 class="footer__heading">This site is based on </h4>
      <ul>
        <li>
          <span class="title">
            <a href="https://github.com/FanXuX/masterthesis">
              Konzept eines universellen,
              dezentralen Software Repository's und dessen Adaption im
              NPM-Frontend-Ökosystem</a>
          </span>
          (Concept of a univseral, decentralized software
          Repository and its application in the NPM-frontend-ecosystem) by
          <span class="autor">
            Fan Xu
          </span>
          (<a href="https://fanxu.de/">website</a>
          |
          <a href="https://github.com/FanXuX">github</a>)
        </li>
        <li>
          <span class="title">
            An Architecture of a Dezentralized Software Repository
          </span>
          by
          <span class="author">Fan Xu</span>
          and
          <span class="author">Jan Himmelspach</span>
        </li>
        <li>
          <span class="title">
            Brand and web design by Amran Salleh
          </span>
        </li>
      </ul>
    </div>

    <div class="footer__resources">
      <h4 class="footer__heading">Further resources:</h4>
      <ul>
        <li>
          <a href="https://github.com/FanXuX/drepo-contracts">Index Prototype v0</a>
        </li>
        <li>
          <a href="https://github.com/drepo-eth/drepo-index-prototype-v1">Index Prototype v1</a>
        </li>
        <li>
          {{ partial "gitinfo.html" . }}
        </li>
      </ul>
    </div>
  </div>
</footer>