<footer class="footer">
  <p>
    This site is based on the masterthesis
    <a href="https://github.com/FanXuX/masterthesis">
      "Konzept eines universellen,
      dezentralen Software Repository's und dessen Adaption im
      NPM-Frontend-Oekosystem"
    </a>
    (Concept of a univseral, decentralized software
    Repository and its application in the NPM-frontend-ecosystem) by
    Fan Xu
    (
    <a href="https://fanxu.de/">
      website
    </a>
    |
    <a href="https://github.com/FanXuX">
      github
    </a>
    )
  </p>

</footer>
