<aside class="menu">
  <button class="menu__btn">
    <span class="menu__burger"></span>
  </button>
  <div class="menu__headline-wrapper">
    <i class="bi bi-triangle-fill" aria-hidden="true"></i>
    <h2 class="menu__headline">Index</h2>
  </div>
  <nav class="menu__nav">
    <ol class="menu__nav-list">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main -}}
      <li class="menu__nav-item {{ if $currentPage.HasMenuCurrent "main" . }} is-active{{ end }}">
        {{ if .HasChildren }}
        <span class="menu__link">{{ .Name }}</span>
        <ol class="menu__sub-nav-list">
          {{ range .Children -}}
          <li class="menu__sub-nav-item {{ if $currentPage.IsMenuCurrent "main" . }} is-active{{ end }}">
            <a class="menu__sub-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{- end }}
        </ol>
        {{ else }}
          {{ $target := "#" }}
          {{ if ne .Page nil }}
            {{ $target = .URL | relLangURL }}
          {{ end }}
          <a class="menu__link" href="{{ $target }}">{{ .Name }}</a>
        {{ end }}
      </li>
      {{- end }}
    </ol>
  </nav>

</aside>
