{{ define "main" }}
  <div class="title-banner">
    {{ $image := $.Page.Resources.GetMatch .Params.titleBanner.image.src }}
    {{ $resized := $image.Resize .Params.titleBanner.image.size }}
    <img src="{{ $resized.RelPermalink }}"
      alt="{{ .Params.titleBanner.image.alt }}"/>
    {{ .Params.titleBanner.text }}
  </div>

  <div class="teaser-list" >
    <h1 class="teaser-list__headline">{{ .Params.contentTeasers.heading }}</h1>

    <div class="teaser-list__wrapper">
      {{ range .Params.contentTeasers.teasers }}
      <div class="teaser">
        <h3 class="teaser__title">{{ .heading }}</h3>
        <p class="teaser__text">
          {{ .text }}
        </p>
        <a class="teaser__link" href="{{ .target | relURL }}">/read more</a>
      </div>
      {{ end }}
    </div>
  </div>

<div class="description">
  <h1 class="description__headline">{{.Title}}</h1>

  <p class="description__detail">
    {{ .Params.titleText }}
  </p>

  <div class="homepage-content">
    {{.Content}}
  </div>

  <div class="cta-container">
<!--    <p>-->
<!--      {{ .Params.cta.text }}-->
      <a class="cta" href="{{.Params.cta.link.target | relURL }}">
        {{ .Params.cta.text }} {{ .Params.cta.link.text }} >
      </a>
<!--    </p>-->
  </div>
</div>

{{ end }}
