{{ define "main" }}
  <div class="title-banner">
    {{ $image := $.Page.Resources.GetMatch .Params.titleBanner.image.src }}
    {{ $resized := $image.Resize .Params.titleBanner.image.size }}
    <img src="{{ $resized.RelPermalink }}"
      alt="{{ .Params.titleBanner.image.alt }}"/>
    {{ .Params.titleBanner.text }}
  </div>

  <h1>{{.Title}}</h1>

  <p class="teaser-text">
    {{ .Params.titleText }}
  </p>

  <div class="homepage-content">
    {{.Content}}
  </div>

  <div class="cta">
    <p>
      {{ .Params.cta.text }}
      <a href="{{.Params.cta.link.target | relURL }}">
        {{ .Params.cta.link.text }}
      </a>
    </p>
  </div>
{{ end }}
