{{ define "main" }}
  <div class="banner">
    {{ $image := $.Page.Resources.GetMatch .Params.titleBanner.image.src }}
    {{ $resized := $image.Resize .Params.titleBanner.image.size }}
    <div id="particles"></div>
    <div class="banner__content">
      <div class="banner__headline">
        Decentralization
      </div>
      <div class="banner__text">
        {{ .Params.titleBanner.text }}
      </div>
    </div>
  </div>

  <div class="teaser-list" >
    <h1 class="teaser-list__headline">{{ .Params.contentTeasers.heading }}</h1>

    <div class="teaser-list__wrapper">
      {{ range .Params.contentTeasers.teasers }}
      <div class="teaser">
        <h3 class="teaser__title">{{ .heading }}</h3>
        <p class="teaser__text">
          {{ .text }}
        </p>
        <a class="teaser__link" href="{{ .target | relURL }}">/read more</a>
      </div>
      {{ end }}
    </div>
  </div>

<div class="description">
  <div class="description__detail">
    {{.Content}}
  </div>

  <div class="cta-container">
    <a class="cta" href="{{.Params.cta.link.target | relURL }}">
      {{ .Params.cta.text }} {{ .Params.cta.link.text }}&nbsp;>
    </a>
  </div>
</div>

{{ end }}

{{ define "startpagescript" }}
<!-- JS -->
{{ $opts := (dict "minify" true "sourceMap" "external") }}
{{ $js := resources.Get "js/startpage.ts" | js.Build $opts }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}