{{ $src := (.Get "src") }}
{{ $alt := (.Get "alt") }}
{{ $caption := (.Get "caption") }}
{{ $size := (.Get "size") }}
{{ $image := $.Page.Resources.GetMatch $src }}
{{ $height := $image.Height }}
{{ $width := $image.Width }}
{{ $orientation := cond (gt $height $width) "portrait" "landscape" }}
{{ $resized := $image.Resize (printf "%s %s" $size "webp") }}

<figure class="figure" data-orientation="{{ $orientation }}">
  <a href="{{ $src }}" target="_blank">
    <img src="{{ $resized.RelPermalink }}" alt="{{ $alt }}"
         data-width="{{ $width }}"
         data-height="{{ $height }}"
    />
  </a>
  <figcaption>
    <p>{{ $caption }}</p>
  </figcaption>
</figure>